In [3]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [5]:
engine=create_engine('mysql+pymysql://root:Abhigyan786@localhost/mca')

In [8]:
mycon = engine.connect()

In [10]:
df = pd.read_sql("select * from admission",mycon)

In [11]:
df

   Rollno First_Name Last_Name   Mobile_no
0       1   Abhigyan   Parihar  9926012438
1       2     Naruto   Uzumaki  1234567890
2       3     Madara   Uchhiha  9632580147
3       4     itachi   Uchhiha  7896541230
4       5     sasuke   Uchhiha  7456982130
5       6       Tony     Stark  1111111111
6       7     Spider       Man  2222222222
7       8      luffy   Dmonkey  3333333333
8      10      sanji    flirty  6666666666
9       9     choper      Deer  7777777777

In [37]:
select_data_index = df.loc[df['First_Name']=="Tony"].index

In [38]:
select_data_index

Int64Index([5], dtype='int64')

In [39]:
df.loc[select_data_index]=[11,"death","boy",55556984]

In [40]:
df

   Rollno First_Name Last_Name   Mobile_no
0       1   Abhigyan   Parihar  9926012438
1       2     Naruto   Uzumaki  1234567890
2       3     Madara   Uchhiha  9632580147
3       4     itachi   Uchhiha  7896541230
4       5     sasuke   Uchhiha  7456982130
5      11      death       boy    55556984
6       7     Spider       Man  2222222222
7       8      luffy   Dmonkey  3333333333
8      10      sanji    flirty  6666666666
9       9     choper      Deer  7777777777

In [45]:
df.loc[8,"First_Name"]="sajid"

In [47]:
df

   Rollno First_Name Last_Name   Mobile_no
0       1   Abhigyan   Parihar  9926012438
1       2     Naruto   Uzumaki  1234567890
2       3     Madara   Uchhiha  9632580147
3       4     itachi   Uchhiha  7896541230
4       5     sasuke   Uchhiha  7456982130
5      11      death       boy    55556984
6       7     Spider       Man  2222222222
7       8      luffy   Dmonkey  3333333333
8      10      sajid    flirty  6666666666
9       9     choper      Deer  7777777777

In [78]:
ind=df[df['Rollno'] >5].index

In [79]:
ind

Int64Index([5, 6, 7, 8, 9], dtype='int64')